
body {
    margin: 0;
    padding: 0;
    background-color: #2e323ddf;
    font: 9pt "Arial";
  }
    
  .page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  
  .subpage {
    padding: 0.5cm;
    border: 1px white;
    height: 297mm;
    outline: 1cm white;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }


h1 {
  font: 28pt "Oswald";
  color: rgb(64, 18, 18);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
}

h3 {
  font: 9pt "Roboto Condensed";
  font-weight: 500;
}

.bd-grid {
  display: grid;
  grid-template-columns: auto auto;

}

.title {
  font: 12pt "Oswald";
  color: darkblue;
  text-transform: uppercase;
}

.title_border {
  border-bottom: 1px solid black;
}

.contact_container {
  margin: auto;
  width: 75%;
}

.contact_data {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.contact_location {
  color: rgb(133, 117, 117);
}

.column_color {
  color: rgb(213, 69, 58);
}

.contact_phone {
  color: rgb(213, 69, 58);
}

.contact_border {
  border-bottom: 5px solid rgb(64, 18, 18);
  margin: 0;
}
/////////////////////////////////////////////////////////////////////////////////

//summary

.summary_title {
  font: 12pt "Oswald";
  color: darkblue;
  text-transform: uppercase;
  padding-top: 15px;
}

.summary_content {
  padding-bottom: 10px;
  p { 
    line-height: 1.6;
    margin: 0;
  }
}

//experience
.experience_content, .experience_data {
  margin-bottom: 4mm;
  line-height: 1.6;

  ul.a {
    margin: 0;  
    list-style-type: disc;
  }
  p {
    margin: 0;
  }

  .experience_project {
    padding-top: 3mm;
    text-indent: -15px;
  }
}


//education
.education_institute {
  margin-bottom: 5mm;

  p{
    line-height: 1.6;
    margin: 0;
  }
}

//projects
.project_content {
  margin-bottom: 5mm;

  p{
    line-height: 1.6;
    margin: 0;
  }
}

//leadership
.leadership_content {
  width: 90%;
  margin: 1px;
  line-height: 1.6;
}

//coursework
.coursework_container{
  p {
    line-height: 1.6;
    margin: 0;
  }
}

//skills
.skills_list {
  align-items: center;
  line-height: 1.6;
}

.skills_container
{
  grid-template-columns: auto auto; 
  gap: 10px 50px;
  width: 90%;
}

//references

.reference_container {
  gap: 10px 50px;
  margin: 0;
  width: 95%;
  p {
    line-height: 1.6;
    margin: 0;
  }
}

